name: "QCVE - Code Scanning"

on:   
  pull_request:
    branches: [ main ]

jobs:
  manual_scan:
    runs-on: ubuntu-latest
    name: Runner
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0
      - uses: actions-ecosystem/action-regex-match@v2
        id: username-match
        with:
          text: ${{ github.event.pull_request.body }} 
          # regex: '^/label\s*(.*?)\s*$'
          regex: '^/label\s*(.*?)\s*$'
      - name: Echo extracted username
        run: |
          echo "${{ steps.username-match.outputs.group1 }}"
      - uses: actions-ecosystem/action-regex-match@v2
        id: database-match
        with:
          text: ${{ github.event.pull_request.body }} 
          regex: '^\database.*?(\w+).*$'
      - name: Echo extracted database
        run: |
          echo "${{ steps.database-match.outputs.group1 }}"
      - name: CodeQL Scan
        id: scan
        uses: maulanardy/codeql-sample-action@v1.18
        with:
          username: ${{ steps.username-match.outputs.group1 }}
          report: '${{ github.workspace }}/output/${{ steps.username-match.outputs.group1 }}'
          query: '${{ github.workspace }}/queries/${{ steps.username-match.outputs.group1 }}'
          database: ${{ steps.database-match.outputs.group1 }}

      - name: Commit report
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add .
          git commit -a -m "Add CodeQL Scan Report"

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.head_ref }}
