name: "QCVE - Code Scanning"

on: [push]

jobs:
  # CodeQL-Build:
  #   # CodeQL runs on ubuntu-latest, windows-latest, and macos-latest
  #   runs-on: ubuntu-latest

  #   permissions:
  #     # required for all workflows
  #     security-events: write

  #     # only required for workflows in private repositories
  #     actions: read
  #     contents: read

  #   steps:
  #     - name: Checkout repository
  #       uses: actions/checkout@v3

  #     # Initializes the CodeQL tools for scanning.
  #     - name: Initialize CodeQL
  #       uses: github/codeql-action/init@v2
  #       with:
  #          db-location: '${{ github.workspace }}/databases/openssl'
  #          languages: cpp
  #          config-file: ./.github/codeql/codeql-config.yml
  #     # - name: Autobuild
  #     #   uses: github/codeql-action/autobuild@v2

  #     - name: Perform CodeQL Analysis
  #       uses: github/codeql-action/analyze@v2
  manual_scan:
    runs-on: ubuntu-latest
    name: Runner
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: CodeQL Scan
        id: scan
        uses: maulanardy/codeql-sample-action@v1.17
        with:
          username: 'john'
          report: '${{ github.workspace }}/output'
          query: '${{ github.workspace }}/queries/john'
